/**
 * Experience related
 */
.img-experience {
    float: left;
    height: 120px;
    min-width: 120px;
}

.portfolio-item.experience-item {
    min-width: 500px;
}

.portfolio-item .caption .caption-content.caption-content-experience {
    margin: 2rem 2rem 2rem 15rem !important;
}

/**
 * Education related
 */
 .img-education {
    float: left;
    max-width: 200px;
}

.portfolio-item .caption .caption-content.caption-content-education {
    margin: 2rem 2rem 2rem 15rem !important;
}

/**
 * Portifolio related
 */
.portfolio-item.project-item {
    height: 360px;
}

.portfolio-item.project-item>.img-fluid {
    width: 530px;
    height: 360px;
}