/**
 * Experience related
 */
.img-experience {
    float: left;
    max-width: 120px;
}

.portfolio-item .caption .caption-content.caption-content-experience {
    margin: 2rem 2rem 2rem 15rem !important;
}

/**
 * Portifolio related
 */
.portfolio-item.project-item {
    height: 360px;
}

.portfolio-item.project-item>.img-fluid {
    width: 530px;
    height: 360px;
}

/* LOADER */
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 15px solid #343A40;
    border-radius: 50%;
    border-top: 15px solid #1D809F;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* Add animation to page loader */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden-body {
      display: none;
  }